/* Represent admin styles. */
.toplevel_page_represent_cc .wp-menu-image img{
    width: 20px;
    height: 20px;
}
i.gavickpro-own-icon {
    background-image: url('../images/replogo.png');
    background-color: transparent;
}